<md-dialog id="updateUser" flex="50" aria-label="Create User">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Update MSP User</h2>
            <span flex></span>

        </div>
    </md-toolbar>

    <md-dialog-content>

        <div layout="column" layout-align="center center" ng-if="self.busy">
            <md-progress-circular md-diameter="96"></md-progress-circular>
        </div>
        <div class="md-dialog-content" ng-if="!self.busy">
            <form  name="updateUser" ng-if="self.confirm">

                <div layout="row">
                    <div flex="50">
                        <h3>Update user email and user role</h3>
                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input type="email" name="userName" value="{{self.user.email}}" ng-disabled="true" >
                        </md-input-container>
                    </div>
                    <div flex="5"></div>
                    <div flex>
                        <h4>MSP Role</h4>
                        <md-radio-group ng-model="self.userRole" layout="row">
                            <md-radio-button value="user" class="md-primary">User</md-radio-button>
                            <md-radio-button value="admin"> Admin </md-radio-button>
                        </md-radio-group>
                    </div>
                    <div flex="15">
                        <md-button ng-click="" ng-disabled="!self.notconfirmed" class="md-icon-button" ng-class="{'md-warn': self.notconfirmed, 'user-confirmed' : !self.notconfirmed}">
                            <md-icon md-font-set="material-icons">verified_user</md-icon>
                        </md-button>
                        <md-button ng-click="" class="md-icon-button">
                            <md-icon md-font-set="material-icons">link</md-icon>
                        </md-button>
                    </div>

                </div>

                <div layout="row">
                    <div flex>
                        <h3>Organization Roles</h3>
                        <div ng-repeat="role in self.userOrgRoles" layout="row">
                            <div flex>
                                <md-checkbox ng-checked="self.exists(role, self.selected)" ng-click="self.toggle(role, self.selected, null)">
                                    {{ role.resource_name }}
                                </md-checkbox>
                            </div>
                            <div flex>
                                <md-radio-group ng-model="role.name" layout="row">
                                    <md-radio-button value="user" class="md-primary">User</md-radio-button>
                                    <md-radio-button value="admin"> Admin </md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>

                        <div ng-if="self.userOrgRoles.length == 0">
                            <p>This user has not been assigned any Organization roles</p>
                        </div>
                        <md-button ng-disabled="self.addingNewRole" ng-click="self.addNewRole()">Add new role</md-button>

                        <div>
                            <h4 >New Org Roles</h4>
                            <div  ng-repeat="orgRole in self.selectedUpdate track by $index" layout="row">
                                <div flex>
                                    <md-checkbox ng-checked="self.exists(orgRole, self.selectedUpdate)" ng-click="self.toggle(orgRole, self.selectedUpdate, null)">
                                        {{ orgRole.name }}
                                    </md-checkbox>
                                </div>
                                <div flex>
                                    <md-radio-group ng-model="orgRole.role" layout="row">
                                        <md-radio-button value="user" class="md-primary">User</md-radio-button>
                                        <md-radio-button value="admin"> Admin </md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div flex="5"></div>
                    <div flex>
                        <div ng-if="self.allowAddNewRole">
                            <div flex>
                                <h3>MSP User Organization Roles</h3>
                                <p class="md-caption">Assign user to all organizations with default permissions or customize permissions</p>
                                <md-radio-group ng-model="perm" layout="row">
                                    <md-radio-button value="default" class="md-primary">Default</md-radio-button>
                                    <md-radio-button value="custom">Custom</md-radio-button>
                                </md-radio-group>
                            </div>
                            <div flex ng-if="perm == 'custom'">
                                <h3>Companies</h3>
                                <div ng-repeat="organization in self.organizations" layout="row">
                                    <div flex>
                                        <md-checkbox ng-checked="self.exists(organization, self.selectedUpdate)" ng-click="self.toggle(organization, self.selectedUpdate, true)" >
                                            {{ organization.name }}
                                        </md-checkbox>
                                    </div>
                                    <div flex>
                                        <md-radio-group ng-model="organization.role" layout="row">
                                            <md-radio-button value="user" class="md-primary">User</md-radio-button>
                                            <md-radio-button value="admin"> Admin </md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div data="create msp admin / user">-->
                <!--<div data="assign user to organizations">-->
                <!--<div data="assign to all org as admin / user"></div>-->
                <!--<div data="assign to orgs but customize">-->
                <!--<div data="org auto-complete ==> user / admin"> add more</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </form>
        </div>

        <div ng-if="!self.confirm" layout="column" layout-align="center center">
            <h3>Are you sure?</h3>
        </div>


    </md-dialog-content>
    <md-dialog-actions layout="row" md-whiteframe="2">
        <md-button ng-if="self.confirm" ng-click="self.cancel()" md-autofocus>
            Cancel
        </md-button>
        <md-button ng-if="!self.confirm" ng-click="self.cancelDelete()" md-autofocus>
            Cancel Delete
        </md-button>
        <span flex></span>
        <md-button ng-if="self.confirm" class="md-raised md-primary" ng-click="self.updateUser(self.userRole)">
            Update
        </md-button>
        <md-button ng-if="self.confirm" class="md-raised md-warn" ng-click="self.deleteUser()">
            Delete User
        </md-button>
        <md-button ng-if="!self.confirm" class="md-raised md-warn" ng-click="self.deleteUserConfirmed()">
            Confirm Delete
        </md-button>
    </md-dialog-actions>

</md-dialog>