<md-dialog id="addUser" flex="35" aria-label="Create User">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Update User</h2>
            <span flex></span>

        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="createUser">
            <div class="md-dialog-content">
                <div layout="column">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input type="email" name="userName" value="{{self.user.email}}" ng-disabled="true" >
                    </md-input-container>
                    <md-radio-group ng-model="self.userRole">
                        <md-radio-button value="user" class="md-primary">User</md-radio-button>
                        <md-radio-button value="admin"> Admin </md-radio-button>
                    </md-radio-group>

                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" md-whiteframe="2">
        <md-button ng-click="self.cancel()" md-autofocus>
            Cancel
        </md-button>
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="self.updateUser(self.userRole, password)">
            Update
        </md-button>
        <md-button class="md-raised md-warn" ng-click="self.deleteUser()">
            Delete User
        </md-button>
    </md-dialog-actions>

</md-dialog>