<md-section>
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">{{_orgsites.selectedSite.name}}</h1>
    </md-toolbar>
    <md-content ng-switch="_orgsites.sideNavContent">

        <div layout="column" ng-switch-when="false">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>

        <div layout="column" layout-padding ng-switch-when="true">
            <h4>Meraki Mapping</h4>
            <h5>Select A Meraki Network to map this site to.</h5>

            <md-card class="md-padding">
                <md-card-content>
                    <h4>Mapped to : {{_orgsites.activeSiteConfig.meraki_network_name}}</h4>
                    <p class="md-caption">{{_orgsites.activeSiteConfig.meraki_network_id}}</p>
                </md-card-content>
            </md-card>

            <md-radio-group ng-model="mn">
                <md-list>
                    <md-list-item class="org_list" ng-repeat="network in _orgsites.meraki_networks">
                        <md-radio-button value="{{$index}}" ng-model="mnetwork"></md-radio-button>
                        <p>{{network.name}}</p>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-radio-group>

            <md-input-container class="md-padding">
                <md-button aria-label="Save" ng-click="_orgsites.mapSite(_orgsites.selectedSite, mn)" class="md-raised md-primary">Save</md-button>
            </md-input-container>
        </div>
    </md-content>
</md-sidenav>


<md-content layout-fill>
    <div layout="row" flex ng-if="!_orgsites.create_site">
        <md-button class="md-raised md-primary" ng-click="_orgsites.addOrgSite()">Create Site</md-button>
    </div>

    <div layout="column" ng-if="_orgsites.create_site" class="md-padding">
        <form name="createSite" flex layout="row">
            <md-input-container flex class="md-block">
                <label>Site Name</label>
                <input type="text" ng-model="sitename"/>
            </md-input-container>
            <md-input-container flex class="md-block">
                <md-button class="md-primary" ng-click="_orgsites.createOrgSite(sitename)">Add</md-button>
            </md-input-container>
            <md-input-container flex class="md-block">
                <md-button class="md-primary" ng-click="_orgsites.cancelCreateSite()">Cancel</md-button>
            </md-input-container>
        </form>
    </div>
    <div ng-switch="_orgsites.loading">

        <div layout="column" ng-switch-when="true">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>

        <div layout="column" ng-switch-when="false">
            <md-list>
                <md-list-item class="md-offset org_list"  ng-repeat="item in _orgsites.sitesList">
                    <p>{{item.name}}</p>
                    <md-button class="md-icon-button" ng-click="_orgsites.config(item)">
                        <md-icon md-font-set="material-icons"> settings_applications</md-icon>
                    </md-button>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </div>

        <div flex="35"  layout="row" ng-switch-when="nosites">
            <md-card class="md-padding">
                <md-card-content>
                    <h3>This organization has no sites.</h3>
                </md-card-content>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button ng-click="_orgsites.addOrgSite()" class="md-raised md-primary md-padding">Create Site</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</md-content>
</md-section>