<md-dialog id="viewOrg" flex="40" aria-label="{{self.org.name}}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{self.org.name}} Info</h2>
            <span flex></span>

        </div>
    </md-toolbar>
    <md-dialog-content class="md-padding">
        <div ng-if="!self.contentAvailable" layout="column" flex layout-align="center center">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <div layout="column" ng-if="self.contentAvailable">
            <h3>Organization Summary</h3>
            <p>Created at: {{self.org.created_at}}</p>
            <p>Updated at: {{self.org.updated_at}}</p>
            <md-divider></md-divider>
            <div>
            <h4>Services</h4>
                <md-chips
                        name="servicesName"
                        ng-model="self.services"
                        readonly="true">
                    <md-chip-template>{{$chip.name}}</md-chip-template>
                </md-chips>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" md-whiteframe="2">
        <md-button ng-click="self.cancel()" md-autofocus>
            Cancel
        </md-button>
        <span flex></span>
    </md-dialog-actions>
</md-dialog>