<md-toolbar class="mcc">
    <div class="md-toolbar-tools gray">
        <span flex></span>
    </div>
</md-toolbar>
<md-content>
    <div flex="35" layout="row">
        <md-card class="md-padding">
            <md-card-content>
                <h3>Meraki Mapping</h3>
            </md-card-content>
            <md-card-actions layout="row" layout-align="start center">
                <md-button ng-click="" class="md-raised md-primary">Map Organization</md-button>
            </md-card-actions>
        </md-card>
    </div>

</md-content>