
<div ng-cloak>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Organization Users">
            <md-toolbar>
                <div class="md-toolbar-tools gray">

                    <span flex></span>
                    <md-button aria-label="Add Org user" ng-click="_orgUsers.addUser($event)">
                        Add Org User
                    </md-button>
                </div>
            </md-toolbar>
            <md-content>
                <div flex="35" ng-if="_orgUsers.noUsers" layout="row" layout-align="center">
                    <md-card class="md-padding">
                        <md-card-content>
                            <h3>Looks like you don't have any users.</h3>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="start center">
                            <md-button ng-click="_orgUsers.addUser($event)" class="md-raised md-primary">Create a user</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <md-list>
                    <md-list-item class="md-2-line"  ng-repeat="item in _orgUsers.orgUserList" ng-click="_orgUsers.viewUser(item.name, $index)">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{item.email}}</h3>
                            <p>{{item.roles[0].name}}</p>
                        </div>
                        <md-button class="md-secondary" ng-click="_orgUsers.updateUser_dialog(item, $index, $event)">Update</md-button>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>
    </md-tabs>
</div>