<md-toolbar class="mcc">
    <div class="md-toolbar-tools gray">

        <span flex></span>
        <md-button aria-label="Add Organization"  ng-click="_msp.createMSP($event)">
            Add MSP
        </md-button>
    </div>
</md-toolbar>
<md-content layout="column" >

    <md-list>
        <md-list-item class="md-offset org_list"  ng-repeat="item in _msp.mspList">

            <p>{{item.name}}</p>

            <!--<md-button aria-label="Services" class="md-icon-button" ng-click="_organizations.viewOrgServices($event)">-->
            <!--<md-icon md-font-set="material-icons" > settings_input_component </md-icon>-->
            <!--</md-button>-->
            <!--<md-button aria-label="Users" class="md-icon-button" ng-click="_organizations.viewOrgUsers($event)">-->
            <!--<md-icon md-font-set="material-icons"> people </md-icon>-->
            <!--</md-button>-->

            <md-button class="md-icon-button" ng-click="_msp.viewMSP(item, $index, $event)">
                <md-icon md-font-set="material-icons"> info_outline </md-icon>
            </md-button>

            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</md-content>