<section flex layout="row">
    <md-sidenav
            class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            md-disable-backdrop
            md-whiteframe="4">

        <md-toolbar class="md-theme-indigo" layout="row">
            <h1 class="md-toolbar-tools">Menu</h1>
            <div class="md-toolbar-tools">

                <span flex></span>
                <md-button class="md-icon-button">
                    <md-icon md-font-set="material-icons" ng-click="_main.logout()">power_settings_new</md-icon>
                </md-button>

            </div>
        </md-toolbar>

        <md-content layout="column">

            <md-list>
                    <md-list-item ng-if="_main.superUser" ng-click="_main.viewNavigate('msp')">
                        <md-icon class="md-avatar-icon" md-font-set="material-icons">dashboard</md-icon>
                        <p>MSPs</p>
                    </md-list-item>
                    <md-subheader class="md-no-sticky">Overview</md-subheader>
                    <md-list-item ng-click="_main.viewNavigate('dashboard')">
                        <md-icon class="md-avatar-icon" md-font-set="material-icons">dashboard</md-icon>
                        <p>Dashboard</p>
                    </md-list-item>
                    <md-divider></md-divider>
                <div ng-if="_main.orgUser">
                    <md-subheader class="md-no-sticky">MSP Actions</md-subheader>
                    <md-list-item ng-click="_main.viewNavigate('organizations')">
                        <md-icon class="md-avatar-icon" md-font-set="material-icons">work</md-icon>
                        <p>Organizations</p>
                    </md-list-item>
                    <md-list-item ng-click="_main.viewNavigate('users')">
                        <md-icon class="md-avatar-icon" md-font-set="material-icons">assignment_ind</md-icon>
                        <p>Users</p>
                </md-list-item>
                </div>
                <md-subheader class="md-no-sticky">Organization Actions</md-subheader>
                <md-list-item ng-click="_main.viewNavigate('org')" ng-disabled="_main.orgNotActive">
                    <md-icon class="md-avatar-icon" md-font-set="material-icons">dashboard</md-icon>
                    <p>Dashboard</p>
                </md-list-item>
                <md-list-item ng-click="_main.viewNavigate('sites')" ng-disabled="_main.orgNotActive">
                    <md-icon class="md-avatar-icon" md-font-set="material-icons">dashboard</md-icon>
                    <p>Sites</p>
                </md-list-item>
                <md-list-item ng-click="_main.viewNavigate('orgservices')" ng-disabled="_main.orgNotActive">
                    <md-icon class="md-avatar-icon" md-font-set="material-icons">settings_input_component</md-icon>
                    <p>Services</p>
                </md-list-item>
                <md-list-item ng-click="_main.viewNavigate('orgusers')" ng-disabled="_main.orgNotActive">
                    <md-icon class="md-avatar-icon" md-font-set="material-icons">people</md-icon>
                    <p>Users</p>
                </md-list-item>
                <md-list-item class="md-avatar-icon" ng-click="_main.viewNavigate('orgsettings')" ng-disabled="_main.orgNotActive">
                    <md-icon class="md-avatar-icon" md-font-set="material-icons">people</md-icon>
                    <p>Organization Settings</p>
                </md-list-item>

            </md-list>


        </md-content>
    </md-sidenav>

    <div layout="column" flex layout-fill>
        <md-toolbar layout="row" class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2>
                    <span>MCC | {{_main.mspName}}</span>
                </h2>
                <h3 ng-if="!_main.orgNotActive">
                    <span>&nbsp;| {{_main.activeOrgName}}</span>
                </h3>
                <span flex></span>

                <md-select ng-model="_main.activeOrg"  placeholder="Select Organization" ng-if="_main.canToggleOrg">
                    <md-option ng-repeat="item in _main.organizationList" value="{{$index}}">{{item.name}}</md-option>
                </md-select>

                <md-button ng-click="_main.openLeft()" class="md-icon-button" aria-label="Settings">
                    <md-icon md-font-set="material-icons">menu</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex id="toastBounds">
            <div layout="column" layout-align="top" flex>
                <ui-view></ui-view>
            </div>
        </md-content>
    </div>
</section>
