html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
  background: #ffffff;

}
/***************
 * TYPE DEFAULTS
 ***************/
a {
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: border-bottom 0.35s;
  -moz-transition: border-bottom 0.35s;
  -ms-transition: border-bottom 0.35s;
  -o-transition: border-bottom 0.35s;
  transition: border-bottom 0.35s;
}

/* Toolbar area */

ui-view.ng-scope{ height: 100%; }
section.ng-scope.layout-row.flex {
  height: 100%;
}
.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}



md-bottom-sheet  md-icon {
  margin-right:20px;
}

/*
  ########################Customs Start###########################
*/
.md-padding-half{
  padding:8px;
}
/*
  ########################Customs Ed###########################
*/

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.withBackground{
  background: url("img/background_exp.png") center;
  display: block;
  position: relative;
  height: 100%;
}
.login_main{

}
.login_logo{
  margin-top: 30%;
  margin-bottom: 40px;
}
.login_logo img{
  display: block;
  position: relative;
  margin: auto;
  width: 180px;
}

.login_logo_sm{
  margin-top: 10%;
  margin-bottom: 40px;
}
.login_logo_sm img{
  display: block;
  position: relative;
  margin: auto;
  width: 120px;
}

.login_semi{
  text-align: center;
}
.login_checkbox{
  margin-bottom: 0px;
}
.formError{
  color: red;
}
.formError p{
  margin: 0;
}
#dialogContent_addOrg .md-block{
  margin: 0;
}
.md-toolbar-tools.gray{
  background-color: gray;
}
.org_list > p{
  margin-left:10px;
}